hipchat_alertlib_token = ""  # Needed by alertlib, can leave empty
hostedgraphite_api_key = ""  # Needed by alertlib, can leave empty
slack_alertlib_webhook_url = ""  # https://phabricator.khanacademy.org/K129
slack_testimonials_turtle_api_token = ""  # https://phabricator.khanacademy.org/K130
slack_testimonials_search_api_token = ""  # https://phabricator.khanacademy.org/K131
slack_testimonials_slash_command_token = ""  # https://phabricator.khanacademy.org/K132
